@{
    ViewData["Title"] = "Home Page";
}

<div id="hero-block" class="hero-block">
    <div id="hero-carousel" class="hero-carousel carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item-1 carousel-item active">
            </div>
            <div class="carousel-item-2 carousel-item">
            </div>
            <div class="carousel-item-3 carousel-item">
            </div>
        </div>
    </div>
    <div class="hero-block-mask"></div>
    <div class="container">
        <div class="hero-text-block">
            <h1 class="hero-heading mb-2">Contoso University 2020</h1>
            <div class="hero-meta mb-3"><i class="far fa-calendar-alt mr-2"></i>12 - 15 Dec <i class="fas fa-map-marker-alt mx-2"></i>Kingston, JM</div>
            <div class="hero-intro mb-4">The #1 technology centered school<br>Tech Conferences and Events Included in tuition. Will be at the National Stadium in December to preregister those interested.</div>
            <div class="hero-cta"><a class="btn btn-primary btn-lg" href="/Students/Index" target="_Self">Enroll Now</a></div>

        </div><!--//hero-text-block-->
    </div><!--//container-->

</div><!--//hero-block-->

<div class="stats-block theme-bg-primary text-white py-4 text-center">
    <div class="container">
        <div class="row">
            <div class="col-6 col-md-3">
                <div class="item">
                    <div class="number">2000+</div>
                    <div class="unit">Past Students</div>
                </div><!--//item-->
            </div><!--//col-->
            <div class="col-6 col-md-3">
                <div class="item">
                    <div class="number">3</div>
                    <div class="unit">Locations</div>
                </div><!--//item-->
            </div><!--//col-->
            <div class="col-6 col-md-3">
                <div class="item">
                    <div class="number">60+</div>
                    <div class="unit">Tech Courses</div>
                </div><!--//item-->
            </div><!--//col-->
            <div class="col-6 col-md-3">
                <div class="item">
                    <div class="number">10+</div>
                    <div class="unit">Workshops</div>
                </div><!--//item-->
            </div><!--//col-->
        </div>
    </div><!--//container-->
</div><!--//stats-block-->

<section id="about-section" class="about-section section theme-bg-light">
    <div class="container">
        <h3 class="section-heading text-center mb-3">About Contoso Tech Conferences</h3>
        <div class="section-intro single-col-max mx-auto mb-4">Our student are exposed to cutting edge technology yearly from the best in the world.<strong>Are you a conference organizer? Want to source developer t-shirts as part of your conference package?</strong> Check out our programming tees at <a href="#" target="_blank">Conference Support</a> - developers love them! Want to get a bulk discount or just want to use one of the t-shirt designs? Please email <a href="mailto:conference@contoso.com">conference@contoso.com</a> and we can discuss.</div>
        <div class="benefits-list text-center mb-3">
            <h4 class="text-center mb-4">Why Join Us</h4>
            <ul class="list-unstyled text-left d-inline-block">
                <li><i class="fas fa-check-circle mr-2"></i>Unique chance to to get exposed to careers</li>
                <li><i class="fas fa-check-circle mr-2"></i>Learn from the best in the industry</li>
                <li><i class="fas fa-check-circle mr-2"></i>Discover the best tools and practices</li>
                <li><i class="fas fa-check-circle mr-2"></i>Meet developers from all over the world</li>
                <li><i class="fas fa-check-circle mr-2"></i>Grow your network</li>
                <li><i class="fas fa-check-circle mr-2"></i>Practical workshops to get your feet wet</li>
                <li><i class="fas fa-check-circle mr-2"></i>After-party mingling with presenters</li>
                <li><i class="fas fa-check-circle mr-2"></i>Free <a href="#">developer t-shirts</a> and swag</li>
            </ul>
        </div><!--//benefits-list-->
        <div class="event-countdown text-center mb-3">
            <h4 class="countdown-intro mb-2 text-center mb-3">Event Starts In:</h4>
            <div id="countdown-box" class="countdown-box"></div>
        </div><!--//event-countdown-->
        <div class="about-cta text-center mb-5"><a class="btn btn-secondary btn-lg  mb-5" href="/Students/Index" target="_blank">Enroll Today</a></div>
    </div><!--//container-->

    <div class="media-block theme-bg-primary py-5">
        <div class="container">
            <h4 class="text-white text-center mb-3">Previously</h4>
            <div class="section-intro text-center single-col-max mx-auto text-white mb-5">Conference videos and images from previous years will give a great idea of what to expect when you attend Contoso. Check out the last two conferences that was held for our students.</div>
            <div class="row">
                <div class="col-12 col-md-6 mb-3">
                    <div class="embed-responsive embed-responsive-16by9">

                        <iframe width="560" height="315" src="https://www.youtube.com/embed/stjniziaxy4" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div><!--//embed-responsive -->
                </div><!--//col-->
                <div class="col-12 col-md-6 mb-md-5">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/NPYqnGNO_zw" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div><!--//embed-responsive -->
                </div><!--//col-->
            </div><!--//row-->
        </div><!--//container-->
    </div><!--//media-block-->
</section><!--//about-section-->

<div class="container">
    <hr>
</div>

<section id="schedule-section" class="schedule-section section">
    <div class="container">
        <h3 class="section-heading text-center mb-5">Registration Schedule</h3>

        <!-- Nav tabs -->
        <ul class="schedule-nav nav nav-pills nav-fill" id="myTab" role="tablist">
            <li class="nav-item mr-2">
                <a class="nav-link active" id="tab-1" data-toggle="tab" href="#tab-1-content" role="tab" aria-controls="tab-1-content" aria-selected="true">
                    <span class="heading">Jan 4</span>
                    <span class="meta">Move In Day</span>
                </a>
            </li>
            <li class="nav-item mr-2">
                <a class="nav-link" id="tab-2" data-toggle="tab" href="#tab-2-content" role="tab" aria-controls="tab-2-content" aria-selected="false">
                    <span class="heading">Jan 7</span>
                    <span class="meta">Classes Begin</span>
                    <span class="meta">Payment Deadlines</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="tab-3" data-toggle="tab" href="#tab-3-content" role="tab" aria-controls="tab-3-content" aria-selected="false">
                    <span class="heading">Jan 14</span>
                    <span class="meta">Late Charge 5% on unpaid balances</span>
                    <span class="meta">Registration Deadline</span>
                    <span class="meta">Student Health Plan Deadline</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="tab-3" data-toggle="tab" href="#tab-3-content" role="tab" aria-controls="tab-3-content" aria-selected="false">
                    <span class="heading">Jan 21</span>
                    <span class="meta">Civil Rights Day No Classes</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="tab-3" data-toggle="tab" href="#tab-3-content" role="tab" aria-controls="tab-3-content" aria-selected="false">
                    <span class="heading">Jan 29</span>
                    <span class="meta">Drop Deadline</span>
                    <span class="meta">Last Day to change from Course to Course</span>
                </a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="schedule-tab-content tab-content">
            <div class="tab-pane active" id="tab-1-content" role="tabpanel" aria-labelledby="tab-1">
                <div class="item item-talk">
                    <div class="meta">
                        <h4 class="time mb-3">9:00 - 9:30</h4>
                        <div class="profile">
                            <a href="#modal-speaker-1" data-toggle="modal" data-target="#modal-speaker-1"><img class="profile-image rounded-circle  mb-2" src="assets/images/speakers/speaker-1.jpg" alt=""></a>
                            <div class="name"><a class="theme-link" href="#modal-speaker-1" data-toggle="modal" data-target="#modal-speaker-1">James Doe</a></div>
                        </div><!--//profile-->
                    </div><!--//meta-->
                    <div class="content">
                        <h3 class="title mb-3">Best Practices And Tips For A Clean Angular Application</h3>
                        <div class="location mb-3"><i class="fas fa-map-marker-alt mr-2"></i>Conference Room A</div>
                        <div class="desc">Talk's summary goes here. <strong>You can hook up the speaker profile image/name on the left with his or her bio modal window</strong>. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis ornare nibh, pulvinar posuere justo. Aenean laoreet nunc a eleifend lacinia. Phasellus dignissim augue at consectetur ullamcorper. </div>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item item-talk">
                    <div class="meta">
                        <h4 class="time mb-3">9:30 - 10:00</h4>
                        <div class="profile">
                            <a href="#modal-speaker-1" data-toggle="modal" data-target="#modal-speaker-1"><img class="profile-image rounded-circle  mb-2" src="assets/images/speakers/speaker-2.jpg" alt=""></a>
                            <div class="name"><a class="theme-link" href="#modal-speaker-1" data-toggle="modal" data-target="#modal-speaker-1">Sarah Doe</a></div>
                        </div><!--//profile-->
                    </div><!--//meta-->
                    <div class="content">
                        <h3 class="title mb-3">Developer Productivity</h3>
                        <div class="location mb-3"><i class="fas fa-map-marker-alt mr-2"></i>Conference Room A</div>
                        <div class="desc">Talk's summary goes here. <strong>You can hook up the speaker profile image/name on the left with his or her bio modal window</strong>. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis ornare nibh, pulvinar posuere justo. Aenean laoreet nunc a eleifend lacinia. Phasellus dignissim augue at consectetur ullamcorper. </div>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item item-other">
                    <div class="meta">
                        <h4 class="time mb-3">10:00 - 10:30</h4>
                    </div><!--//meta-->
                    <div class="content">
                        <h3 class="title mb-3">Coffee Break</h3>
                        <div class="location mb-3"><i class="fas fa-map-marker-alt mr-2"></i>Room A5</div>
                        <div class="desc">Coffee and cakes lorem ipsum dolor sit amet, consectetur adipiscing elit. </div>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item item-talk">
                    <div class="meta">
                        <h4 class="time mb-3">10:30 - 11:00</h4>
                        <div class="profile">
                            <a href="#modal-speaker-1" data-toggle="modal" data-target="#modal-speaker-1"><img class="profile-image rounded-circle  mb-2" src="assets/images/speakers/speaker-3.jpg" alt=""></a>
                            <div class="name"><a class="theme-link" href="#modal-speaker-1" data-toggle="modal" data-target="#modal-speaker-1">Tim Doe</a></div>
                        </div><!--//profile-->
                    </div><!--//meta-->
                    <div class="content">
                        <h3 class="title mb-3">Progressive Web Apps with React.js</h3>
                        <div class="location mb-3"><i class="fas fa-map-marker-alt mr-2"></i>Conference Room A</div>
                        <div class="desc">Talk's summary goes here. <strong>You can hook up the speaker profile image/name on the left with his or her bio modal window</strong>. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis ornare nibh, pulvinar posuere justo. Aenean laoreet nunc a eleifend lacinia. Phasellus dignissim augue at consectetur ullamcorper. </div>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item item-talk">
                    <div class="meta">
                        <h4 class="time mb-3">11:00 - 12:00</h4>
                        <div class="profile">
                            <a href="#modal-speaker-1" data-toggle="modal" data-target="#modal-speaker-1"><img class="profile-image rounded-circle  mb-2" src="assets/images/speakers/speaker-4.jpg" alt=""></a>
                            <div class="name"><a class="theme-link" href="#modal-speaker-1" data-toggle="modal" data-target="#modal-speaker-1">Josh Doe</a></div>
                        </div><!--//profile-->
                    </div><!--//meta-->
                    <div class="content">
                        <h3 class="title mb-3">Talk Title Lorem Ipsum</h3>
                        <div class="location mb-3"><i class="fas fa-map-marker-alt mr-2"></i>Conference Room B</div>
                        <div class="desc">Talk's summary goes here. <strong>You can hook up the speaker profile image/name on the left with his or her bio modal window</strong>. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis ornare nibh, pulvinar posuere justo. Aenean laoreet nunc a eleifend lacinia. Phasellus dignissim augue at consectetur ullamcorper. </div>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item item-other">
                    <div class="meta">
                        <h4 class="time mb-3">12:00 - 13:30</h4>
                    </div><!--//meta-->
                    <div class="content">
                        <h3 class="title mb-3">Lunch Break</h3>
                        <div class="location mb-3"><i class="fas fa-map-marker-alt mr-2"></i>Room B6</div>
                        <div class="desc">Buffet lorem ipsum dolor sit amet, consectetur adipiscing elit. </div>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item item-talk">
                    <div class="meta">
                        <h4 class="time mb-3">13:30 - 14:30</h4>
                        <div class="profile">
                            <a href="#modal-speaker-1" data-toggle="modal" data-target="#modal-speaker-1"><img class="profile-image rounded-circle  mb-2" src="assets/images/speakers/speaker-5.jpg" alt=""></a>
                            <div class="name"><a class="theme-link" href="#modal-speaker-1" data-toggle="modal" data-target="#modal-speaker-1">Ling Doe</a></div>
                        </div><!--//profile-->
                    </div><!--//meta-->
                    <div class="content">
                        <h3 class="title mb-3">Talk Title Lorem Ipsum</h3>
                        <div class="location mb-3"><i class="fas fa-map-marker-alt mr-2"></i>Conference Room C</div>
                        <div class="desc">Talk's summary goes here. <strong>You can hook up the speaker profile image/name on the left with his or her bio modal window</strong>. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis ornare nibh, pulvinar posuere justo. Aenean laoreet nunc a eleifend lacinia. Phasellus dignissim augue at consectetur ullamcorper. </div>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item item-talk">
                    <div class="meta">
                        <h4 class="time mb-3">14:30 - 15:30</h4>
                        <div class="profile">
                            <a href="#modal-speaker-1" data-toggle="modal" data-target="#modal-speaker-1"><img class="profile-image rounded-circle  mb-2" src="assets/images/speakers/speaker-6.jpg" alt=""></a>
                            <div class="name"><a class="theme-link" href="#modal-speaker-1" data-toggle="modal" data-target="#modal-speaker-1">Andy Doe</a></div>
                        </div><!--//profile-->
                    </div><!--//meta-->
                    <div class="content">
                        <h3 class="title mb-3">Talk Title Lorem Ipsum</h3>
                        <div class="location mb-3"><i class="fas fa-map-marker-alt mr-2"></i>Conference Room C</div>
                        <div class="desc">Talk's summary goes here. <strong>You can hook up the speaker profile image/name on the left with his or her bio modal window</strong>. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis ornare nibh, pulvinar posuere justo. Aenean laoreet nunc a eleifend lacinia. Phasellus dignissim augue at consectetur ullamcorper. </div>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item item-talk">
                    <div class="meta">
                        <h4 class="time mb-3">15:30 - 16:30</h4>
                        <div class="profile">
                            <a href="#modal-speaker-1" data-toggle="modal" data-target="#modal-speaker-1"><img class="profile-image rounded-circle  mb-2" src="assets/images/speakers/speaker-7.jpg" alt=""></a>
                            <div class="name"><a class="theme-link" href="#modal-speaker-1" data-toggle="modal" data-target="#modal-speaker-1">Alice Doe</a></div>
                        </div><!--//profile-->
                    </div><!--//meta-->
                    <div class="content">
                        <h3 class="title mb-3">Talk Title Lorem Ipsum</h3>
                        <div class="location mb-3"><i class="fas fa-map-marker-alt mr-2"></i>Conference Room C</div>
                        <div class="desc">Talk's summary goes here. <strong>You can hook up the speaker profile image/name on the left with his or her bio modal window</strong>. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis ornare nibh, pulvinar posuere justo. Aenean laoreet nunc a eleifend lacinia. Phasellus dignissim augue at consectetur ullamcorper. </div>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item item-talk">
                    <div class="meta">
                        <h4 class="time mb-3">16:30 - 17:30</h4>
                        <div class="profile">
                            <a href="#modal-speaker-1" data-toggle="modal" data-target="#modal-speaker-1"><img class="profile-image rounded-circle  mb-2" src="assets/images/speakers/speaker-8.jpg" alt=""></a>
                            <div class="name"><a class="theme-link" href="#modal-speaker-1" data-toggle="modal" data-target="#modal-speaker-1">Thomas Doe</a></div>
                        </div><!--//profile-->
                    </div><!--//meta-->
                    <div class="content">
                        <h3 class="title mb-3">Talk Title Lorem Ipsum</h3>
                        <div class="location mb-3"><i class="fas fa-map-marker-alt mr-2"></i>Conference Room C</div>
                        <div class="desc">Talk's summary goes here. <strong>You can hook up the speaker profile image/name on the left with his or her bio modal window</strong>. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis ornare nibh, pulvinar posuere justo. Aenean laoreet nunc a eleifend lacinia. Phasellus dignissim augue at consectetur ullamcorper. </div>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item item-other">
                    <div class="meta">
                        <h4 class="time mb-3">18:00 - 24:00</h4>
                    </div><!--//meta-->
                    <div class="content">
                        <h3 class="title mb-3">Dinner &amp; After-party</h3>
                        <div class="location mb-3"><i class="fas fa-map-marker-alt mr-2"></i>Bar Lorem Ipsum</div>
                        <div class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis ornare nibh, pulvinar posuere justo. Aenean laoreet nunc a eleifend lacinia. Phasellus dignissim augue at consectetur ullamcorper. </div>
                    </div><!--//content-->
                </div><!--//item-->

            </div><!--//tab-1-content-->
            <div class="tab-pane no-timeline" id="tab-2-content" role="tabpanel" aria-labelledby="tab-2">
                <h4 class="text-center py-5 text-muted">Day 2 Agenda Coming Soon...</h4>
            </div><!--//tab-2-content-->
            <div class="tab-pane no-timeline" id="tab-3-content" role="tabpanel" aria-labelledby="tab-3">
                <h4 class="text-center py-5 text-muted">Day 3 Agenda Coming Soon...</h4>
            </div><!--//tab-3-content-->
        </div><!--//schedule-tab-content-->
        <div class="schedule-cta text-center mx-auto"><a href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/devconf-free-bootstrap-4-conference-template-for-tech-conferences-and-events/" class="btn btn-primary btn-lg mr-md-2 d-block d-md-inline-block mb-3 mb-md-0" target="_blank">Download Schedule</a><a href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/devconf-free-bootstrap-4-conference-template-for-tech-conferences-and-events/" class="btn btn-secondary btn-lg d-block d-md-inline-block" target="_blank">Buy Tickets</a></div>
    </div><!--//container-->
</section><!--//schedule-section-->


<section id="venue-section" class="venue-section section  theme-bg-primary text-white">
    <div class="container">
        <h3 class="section-heading text-center mb-5 text-white">Venue</h3>
        <div class="row py-lg-5">
            <div class="col-12 col-lg-7 h-100">
                <div class="desc">
                    <h4 class="text-white mb-3">How To Get Here</h4>
                    <p>We are located in three convenient locations. Kingston, Mandeville, and Montego Bay to allow easy access to our campuses from all over the island</p>

                    <div class="row pt-3">
                        <div class="col-12 col-md-6 mb-4">
                            <div class="grid-item p-4">
                                <h5 class="text-white mb-3 title"><i class="fas fa-plane-departure mr-2"></i>By Plane</h5>
                                <p>Aliquam gravida, enim et efficitur feugiat, tellus ligula scelerisque orci, et sagittis erat lectus sit amet orci.</p>
                                <a class="text-white" href="#">Search Tickets &rarr;</a>
                            </div><!--//grid-item-->
                        </div><!--col-->
                        <div class="col-12 col-md-6 mb-4">
                            <div class="grid-item p-4">
                                <h5 class="text-white mb-3 title"><i class="fas fa-car mr-2"></i>By Car</h5>
                                <p>Aliquam gravida, enim et efficitur feugiat, tellus ligula scelerisque orci, et sagittis erat lectus sit amet orci.</p>
                                <a class="text-white" href="#">Check Route &rarr;</a>
                            </div><!--//grid-item-->
                        </div><!--col-->
                        <div class="col-12 col-md-6 mb-4">
                            <div class="grid-item p-4">
                                <h5 class="text-white mb-3 title"><i class="fas fa-bus-alt mr-2"></i>By Bus</h5>
                                <p>Aliquam gravida, enim et efficitur feugiat, tellus ligula scelerisque orci, et sagittis erat lectus sit amet orci. </p>
                                <a class="text-white" href="#">Book Tickets &rarr;</a>
                            </div><!--//grid-item-->
                        </div><!--col-->
                        <div class="col-12 col-md-6 mb-4">
                            <div class="grid-item p-4">
                                <h5 class="text-white mb-3 title"><i class="fas fa-subway mr-2"></i>By Train</h5>
                                <p>Aliquam gravida, enim et efficitur feugiat, tellus ligula scelerisque orci, et sagittis erat lectus sit amet orci.</p>
                                <a class="text-white" href="#">Book Tickets &rarr;</a>
                            </div><!--//grid-item-->
                        </div><!--col-->
                    </div><!--//row-->
                    <h4 class="text-white mb-4 mt-3 mt-lg-5">Facilities &amp; Accommodations</h4>
                    <p>Your venue info goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin consequat magna eu accumsan mattis. Duis non augue porttitor, fringilla velit vitae, ultricies eros. Sed libero eros, tristique ac orci nec, hendrerit dictum lacus. Aenean iaculis massa felis, eget venenatis turpis lacinia sit amet. </p>
                    <a class="btn btn-ghost" href="#">Search Hotels</a>
                </div><!--//desc-->
            </div><!--//col-->
            <div class="col-12 col-lg-4 offset-lg-1 position-relative h-100 mt-5 mt-lg-0">
                <div class="figures-holder">
                    <div class="figure figure-1"><img class="shadow" src="/images/venue/venue-1.jpg" alt=""></div>
                    <div class="figure figure-2"><img class="shadow" src="/images/venue/venue-2.jpg" alt=""></div>
                    <div class="figure figure-3"><img class="shadow" src="/images/venue/venue-3.jpg" alt=""></div>
                    <div class="figure figure-4"><img class="shadow" src="/images/venue/venue-4.jpg" alt=""></div>
                </div><!--//figures-holder-->
            </div><!--//col-->
        </div><!--//row-->
    </div><!--//container-->
</section><!--//venue-section-->

<footer class="footer py-5 theme-bg-primary">
    <div class="container text-center">

        <ul class="social-list list-inline mb-4">
            <li class="list-inline-item mr-3"><a href="#"><i class="fas fa-envelope"></i></a></li>
            <li class="list-inline-item mr-3"><a href="#"><i class="fab fa-twitter fa-fw"></i></a></li>
            <li class="list-inline-item mr-3"><a href="#"><i class="fab fa-instagram fa-fw"></i></a></li>
            <li class="list-inline-item mr-0"><a href="#"><i class="fab fa-youtube fa-fw"></i></a></li>
        </ul><!--//social-list-->


        <ul class="footer-links list-inline mx-auto mb-4">
            <li class="list-inline-item"><a href="#">Code of Conduct</a></li>
            <li class="list-inline-item">|</li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item">|</li>
            <li class="list-inline-item mr-0"><a href="#">Privacy</a></li>
        </ul><!--//footer-link-->
        <!--/* This template is released under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using for your own project. Thank you for your support. :) If you'd like to use the template without the attribution, you can buy the commercial license via our website: themes.3rdwavemedia.com */-->
        <small class="copyright">Designed with <i class="fas fa-heart" style="color: #EC645E;"></i> by <a href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers</small>

    </div><!--//container-->
</footer>

<!-- Modal Speaker -->
<div class="modal modal-speaker modal-speaker-1" id="modal-speaker-1" tabindex="-1" role="dialog" aria-labelledby="speaker-1-ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="speaker-1-ModalLabel" class="modal-title sr-only">Speaker Name</h4>
            </div>
            <div class="modal-body p-0">
                <div class="media flex-column flex-md-row theme-bg-light p-4 p-lg-5">
                    <img class="profile-image mb-3 mb-md-0 mr-md-4 rounded-circle mx-auto" src="assets/images/speakers/speaker-1.jpg" alt="" />

                    <div class="media-body text-center text-md-left mx-auto">
                        <h2 class="name mb-2">Speaker Name</h2>
                        <div class="meta">Job Title Or Position</div>
                        <div class="meta mb-2">Company Or Organization</div>
                        <ul class="social-list list-inline mb-0">
                            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter fa-fw"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-github fa-fw"></i></a></li>
                        </ul><!--//social-list-->
                    </div><!--//media-body-->
                </div><!--//media-->

                <div class="desc p-4 p-lg-5">
                    <p>You can put speaker's bio or talk related info here. Duis a mi quis metus porttitor eleifend. Pellentesque finibus ultrices imperdiet. Maecenas auctor tortor quis risus tincidunt, mattis mattis leo placerat. Fusce metus augue, sagittis eget enim vel, venenatis auctor est. In interdum felis massa, ac porta nunc pretium non. In fringilla orci vitae imperdiet malesuada. Vestibulum feugiat lobortis est, in sagittis nisi molestie vel. Mauris ultrices vitae lectus eu feugiat. Fusce semper, nisi at placerat mollis, augue elit pretium enim, eu pellentesque justo purus et lectus. </p>
                    <p class="mb-0">Donec neque magna, molestie vel varius ut, pretium a urna. Pellentesque placerat nunc eu condimentum pellentesque. Vivamus dictum nisl leo, id fermentum lectus porttitor et. Pellentesque tristique erat libero, condimentum porttitor nisl pharetra et.</p>
                </div>
            </div><!--//modal-body-->
        </div><!--//modal-content-->
    </div><!--//modal-dialog-->
</div><!--//modal-->
<!-- Javascript -->
<script src="lib/plugins/jquery-3.4.1.min.js"></script>
<script src="lib/plugins/popper.min.js"></script>
<script src="lib/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="lib/plugins/back-to-top.js"></script>
<script src="lib/plugins/jquery.scrollTo.min.js"></script>
<script src="lib/js/main.js"></script>